<!DOCTYPE html >
<html lang="en" ng-app="minmax">
<head >
	<title >Form Submission</title >
	<link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet" >
  <link href="../libs/ladda/ladda-themeless.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Submitting
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl" >

	<form ng-submit="onSubmit(theForm.$valid)" 
            novalidate="novalidate">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
             ng-model="formModel.name"
			       id="name" >
		</div >

		<div class="form-group" >
      
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
             ng-model="formModel.email"
			       id="email" 
             name="email"
             required="required">


		</div >

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
             required="required"
             ng-model="formModel.username"
             ng-pattern="/^[A-Za-z0-9_]{1,32}$/"
             ng-pattern-err-type="badUsername"
             ng-minlength="5"
			       id="username" >
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
             required="required"
             min="8"
             max="88"
             ng-model="formModel.age"
             ng-min-err-type="tooYoung"
             ng-max-err-type="tooOld"
			       id="age" >
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
              ng-model="formModel.sex"
              required="required"
							class="form-control" >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
             required="required"
             ng-model="formModel.password"
             ng-minlength="5"
			       id="password" >
		</div >

		<div class="form-group">
			<button class="btn btn-primary" 
      type="submit"
      ladda="submitting"
      data-style="expand-right">
      <span ng-show="submitting">Registering</span>
      <span ng-show="!submitting">Register</span>
			</button>
		</div>

	</form >
  
  <pre>{{ formModel | json }}</pre>
</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="../libs/angular/jcs-auto-validate.min.js" ></script >
<script src="../libs/ladda/spin.js" ></script >
<script src="../libs/ladda/ladda.min.js" ></script >
<script src="../libs/ladda/angular-ladda.min.js" ></script >

<script src="main.js" ></script >


</body >
</html >
